<%- include('partials/head')%>

    <!-- the include allows me to include partials directory content on each page. -->
    <%- include('partials/navbar') %>

        <div class="container">
            <h1>Browsing The <%= name %> subreddit </h1>
            <h2>
                <%= description %>
                <!-- the ejs above on descriptions reads it like a js -->
            </h2>
            <p>
                <%= subscribers %> Total subscribers
            </p>
            <hr>
            <% for (let post of posts){ %>
                <!-- the ejs here allow us to write js but it runs behind the scene -->
                <article>
                    <p>
                        <%= post.title %> - <b>
                                <%= post.author %>
                            </b>
                    </p>
                    <% if(post.img){%>
                        <img src="<%= post.img %> " alt="">
                        <!-- if image is display, I want it to use the imgae link from data.json as the image source to priint. -->
                        <% } %>

                </article>
                <% } %>
        </div>
        <%- include('partials/footer') %>
        <!-- this ejs allows us to read it as a hmtl  -->